/*paleta de colores

#264653 azul oscuro
#2a9d8f verde agua
#e9c46a amarillo sucio
#f4a261 naranja
#e76f51 naranja oscuro
*/
@font-face {
 font-family: 'Ubuntu', sans-serif;
 font-family: 'Digital-7';
  src: url('./fuentes/digital-7.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: #264653;
}

.divContainer{
    display: flex;
    align-items: center;
    border-top:  #e98a72c0 solid 4px;
    border-left:  #db7258b1 solid 4px;
    border-bottom: #c95437c3 solid 5px;
    border-right: #d25a3ccf solid 5px;
    background-color:  #eb6d4d;
    border-radius: 35px;
    flex-wrap: nowrap;
    width: 30%;
    height: 77%;
    margin: 10% 35%;
    flex-direction: column;
    filter: drop-shadow(0 0 50px #1bab98ea);
}

.divDisplay{
    background-color: #ebcb78c4;
    border-top:    #e8d29ad5 solid 4px;
    border-left:   #fce4a7d0 solid 4px;
    border-bottom: #e2be61c0 solid 7px;
    border-right:  #e2be61c0 solid 7px;
    width: 82%;
    height: 19%;
    border-radius: 15px;
    margin: 10% 0% 8% 0%;
    filter: drop-shadow(0px 0px 10px  #a8391dc0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#valorAnterior{
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Digital-7', sans-serif;
    font-size: 41px;
    font-weight: 500;
    color: #172e37;
}

#resultado{
    height: 60px;
}

.botonera{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    gap: 13px;
    height: 530px;
    width: 425px;
    padding-bottom: 63px;
    justify-content: center;
}

.col-2{
    grid-column: 1/3;
}

button{
    border-radius: 50px;
    border-top:  #e98a72c0 solid 2px;
    border-left:  #db7258b1 solid 2px;
    border-bottom: #c95437c3 solid 5px;
    border-right: #d25a3ccf solid 4px;
    background-color:  #eb6d4d;
    filter: drop-shadow(0px 0px 9px  #a8391d9d);
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    color: #9b412b;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

button:active {
    transform: scale(0.97);
    background-color: #d35b3d;
}

